@import "./fonts.scss";
@import "./variables.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: normal normal 20px Bellota, sans-serif;
  color: $mainFontColor;
  background-color: $mainBgColor;
}

.appContainer {
  min-width: 100vw;
  min-height: 100vh;

  @media screen and (max-width: 750px) {
    min-height: unset;
  }
}
