@import "./fonts.scss";
@import "./variables.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: normal normal 20px Bellota, sans-serif;
  color: $mainFontColor;
  background-color: $mainBgColor;
}
