@mixin flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin theme($theme) {
  .title {
    background-color: transparentize($theme, 0.4);
    color: $mainBgColor;
  }
  .tariff {
    background-color: $theme;
    color: $mainBgColor;
  }
  .traffic {
    background-color: transparentize($theme, 0.8);
  }
  .itemFooter {
    background-color: transparentize($theme, 0.95);
  }
}
