$mainFontColor: rgb(104, 104, 105);
$mainBgColor: rgb(232, 233, 235);
$itemBgColor: rgb(225, 226, 228);

//themes
$themeBlue: rgb(59, 174, 245);
$themeGreen: rgb(62, 238, 80);
$themePink: rgb(251, 91, 229);
$themeGray: rgba(71, 69, 70, 1);

$transition: all ease 0.5s;
