$mainFontColor: rgb(104, 104, 105);
$mainBgColor: rgb(232, 233, 235);
$itemBgColor: rgb(181, 184, 192);

//themes
$themeBlue: rgba(95, 188, 246, 1);
$themeGreen: rgba(95, 246, 110, 1);
$themePink: rgba(237, 122, 222, 1);
$themeGray: rgba(71, 69, 70, 1);
