.item {
  background-color: rgb(181, 184, 192);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.8fr 1fr;
}

.title {
  font-size: 2rem;
}

.tariff {
  font-size: 1.3rem;
}

.sub {
  font-size: 0.7rem;
}

.sup {
  font-size: 0.8rem;
}

.traffic {
  font-weight: bolder;
}

.itemFooter {
  font-weight: lighter;
}