@import "../../commonStyles/variables.scss";
@import "../../commonStyles/mixins.scss";

.item {
  background-color: $itemBgColor;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.8fr 1fr;
  gap: 0.2rem;
  text-align: center;
  cursor: pointer;
  transition: $transition;

  &__selected {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px $mainFontColor;
  }

  .title {
    @include flexContainer;
    font-size: 2rem;
  }
  .tariff {
    @include flexContainer;
    font-size: 3.5rem;
    &Container {
      @include flexContainer;
      height: max-content;
      .sub {
        font-size: 1rem;
        align-self: flex-start;
      }
      .sup {
        font-size: 1rem;
        align-self: flex-end;
      }
    }
  }
  .traffic {
    @include flexContainer;
    font-weight: bolder;
  }
  .itemFooter {
    @include flexContainer;
    flex-direction: column;
    font-weight: lighter;
  }
}
