@import "../../commonStyles/variables.scss";

.item {
  background-color: $itemBgColor;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.8fr 1fr;
}
.title {
}
.tariff {
}
.sub {
}
.sup {
}
.traffic {
}
.itemFooter {
}
