@import "../commonStyles/variables.scss";
@import "../commonStyles/mixins.scss";

.itemsContainer {
  padding: 6rem 4rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1.5rem;
  justify-content: stretch;

  @media screen and (max-width: 1040px) {
    padding: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media screen and (max-width: 750px) {
    padding: 2rem 8rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  @media screen and (max-width: 535px) {
    padding: 2rem 3rem;
  }
}

.item {
  background-color: $itemBgColor;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.8fr 1fr;
  gap: 0.2rem;
  text-align: center;
  box-shadow: 0px 0px 5px $mainFontColor;
  cursor: pointer;
  transition: $transition;

  &__selected {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px $mainFontColor;
  }

  &__selectImg {
    position: absolute;
    top: 8.5rem;
    right: 1rem;
    width: 3.5rem;
    height: auto;

    @media screen and (max-width: 1040px) {
      top: 6rem;
    }

    @media screen and (max-width: 750px) {
      top: 5rem;
      width: 2.5rem;
    }

    @media screen and (max-width: 375px) {
      top: 6.5rem;
    }
  }

  .title {
    @include flexContainer;
    font-size: 2rem;
  }
  .tariff {
    @include flexContainer;
    font-size: 3.5rem;
    &Container {
      @include flexContainer;
      height: max-content;
      .sub {
        font-size: 1rem;
        align-self: flex-start;
      }
      .sup {
        font-size: 1rem;
        align-self: flex-end;
      }
    }
  }
  .traffic {
    @include flexContainer;
    font-weight: bolder;
  }
  .itemFooter {
    @include flexContainer;
    flex-direction: column;
    font-weight: lighter;
  }
}
